body {
    font-family: 'Open Sans', sans-serif;
    background-color: antiquewhite;
}

#contaier {
    width: 1000px;
    height: 550px;
    background-image: linear-gradient(rgba(0, 0, 0, 0, 3), rgba(0, 0, 0, 0, 3)) url(bgimg.jpg);
    margin: 100px atuo;
}

#calculator {
    width: 320px;
    height: 520px;
    background-color: rgb(160, 121, 23);
    margin: 0 auto;
    top: 100px;
    position: relative;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.5);
}

#result {
    height: 120px;
}

#history {
    text-align: right;
    height: 20px;
    margin: 0 20px;
    padding-top: 20px;
    font-size: 15px;
    color: #e94444;
}

#output {
    text-align: right;
    height: 60px;
    margin: 10px 20px;
    font-size: 30px;
}

#keyboard {
    height: 400px;
}

.operator,
.number,
.empty {
    width: 50px;
    height: 50px;
    margin: 15px;
    float: left;
    border-radius: 50%;
    border-width: 0;
    font-weight: bold;
    font-size: 15px;
}

.number,
.empty {
    background-color: rgb(160, 121, 23);
}

.number,
.operator {
    cursor: pointer;
}

.operator:active,
.number:active {
    font-size: 13px;
}

.operator:focus,
.number:focus,
.empty:focus {
    outline: 0;
}

button:nth-child(4) {
    font-size: 20px;
    background-color: #f5a716;
}

button:nth-child(8) {
    font-size: 20px;
    background-color: #f1c675;
}

button:nth-child(12) {
    font-size: 20px;
    background-color: #f1bc0e;
}

button:nth-child(16) {
    font-size: 20px;
    background-color: #ecea73;
}

button:nth-child(20) {
    font-size: 20px;
    background-color: #97b42d;
}